/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário de login */
.cadastro-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo do título */
.input-group {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos para os grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilo dos rótulos dos campos */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

/* Estilo dos campos de entrada */
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo do botão de login */
.cadastro-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre o botão */
.cadastro-btn:hover {
    background-color: #45a049;
}
/* Estilo do botão de login */
.cancel-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre o botão */
.cancel-btn:hover {
    background-color: #45a049;
}